<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>plugin</string>
	<key>CFBundleIdentifier</key>
	<string>com.HugoJourdan.ColorFlow</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Color Flow</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.1</string>
	<key>CFBundleVersion</key>
	<string>2</string>
	<key>UpdateFeedURL</key>
	<string>https://github.com/HugoJourdan/Color-Flow</string>
	<key>productPageURL</key>
	<string>https://github.com/HugoJourdan/Color-Flow</string>
	<key>productReleaseNotes</key>
	<string></string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright, HugoJourdan, 20222</string>
	<key>NSPrincipalClass</key>
	<string>ColorFlow</string>
	<key>class</key>
	<string></string>
</dict>
</plist>
